<div class="col-12">
<h1 class="text-center">Burgers!</h1>
</div>
<div class="col-7">
<h2>Burgers waiting to be devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="eat-burger" data-id="{{id}}">Devour it!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="col-5">
<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
